body {
    font-family: Times New Roman, Arial,sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.42857142857143;
}


html, body,div,img,form,fieldset{

   margin:0;
   padding:0;
}

div.img{
   margin:0 0 0 20px;
}

p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre{
      margin: 10px 0 0 0;
}

/* Headings: desired line height in px / font size = unitless line height */                                                 
h1 {                                                                                                                         
  font-size: 28px;                                                                                                         
  line-height: 1.25; /* 30px equiv line-height */                                                                          
  margin: 30px 0 0 0;                                                                                                      
}                                                                                                                            
h2 { 
  font-size: 24px;
  line-height: 1.5; /* 30px equiv line-height */  
  margin: 30px 0 0 0; 
}                                                                                                                            
h3 { 
  font-size: 20px;
  line-height: 1.5; /* 24px equiv line-height */
  margin: 30px 0 0 0; 
}                                                                                                                            
h4 { 
  font-size: 18px;   
  line-height: 1.42857142857143; /* 20px equiv line-height */  
  margin: 20px 0 0 0; 
}   
h5 { 
  /*color: #707070; */
  font-size: 16px; 
  line-height: 1.66666666666667;  
  margin: 20px 0 0 0; 
} 
h6 {
  color: #707070; 
  font-size: 16px;
  line-height: 1.66666666666667; 
  margin: 20px 0 0 0;
}

h1:first-child, 
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child, 
h6:first-child { 
  margin-top: 0;
}                                                                                                                            
/* Nice styles for using subheadings */                                                                                      
h1 + h1,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 10px;
}


#main-content {
  counter-reset: h2;
}

h2[class="nmbrHead"] {
  counter-reset : h3;
}

h3[class="nmbrHead"] {
  counter-reset : h4;
}


h2[class="nmbrHead"]:before {
  content : counter(heading,decimal)"."counter(h2,decimal) ".\0000a0\0000a0";
  counter-increment : h2;
}

h3[class="nmbrHead"]:before {
  content : counter(heading,decimal)"."counter(h2,decimal) "." counter(h3,decimal) ".\0000a0\0000a0 ";
  counter-increment : h3;
}

h4[class="nmbrHead"]:before {
  content : counter(heading,decimal)"."counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ".\0000a0\0000a0 ";
  counter-increment : h4;
}

h2[class="nmbrHead"].nocount:before, h3[class="nmbrHead"].nocount:before, h4[class="nmbrHead"].nocount:before {
   content : "";
   counter-increment : none;
}




/*Adding this line to correct overlapping next,previous icon in CadenceHelp.
 * Need to remove after some time to avoid any conflict */
ul.nav li.bg-img {width:24px;margin-right:13px;}

/*Resizing big images */
.webflare-img-resize {
/*  zoom:33%;
  -moz-transform: scale(.3,.3);
  -moz-transform-origin: left top;*/
}


/* Applying line height in First Figure Caption */
.webflare-fig-line-height {
  display:inline-block;
  padding-top:15px;
}  

p:first-child,                                                                                                               
ul:first-child,                                                                                                              
ol:first-child,                                                                                                              
dl:first-child,                                                                                                              
h1:first-child,                                                                                                              
h2:first-child,                                                                                                              
h3:first-child,                                                                                                              
h4:first-child,                                                                                                              
h5:first-child,                                                                                                              
h6:first-child,                                                                                                              
blockquote:first-child,                                                                                                      
pre:first-child {

  margin-top:0
}

.docHeadr {
    color: #666;
    padding: 7px 0 10px 42px;
    background: url(../icons/file2.png) no-repeat 10px 6px;
    background-size: 25px 25px;
}


nav.blueHead ul {
    padding: 0;
    margin: 0;
}
.docHeadr>img {
    width: 90px;
    float: right;
    margin: 4px 15px;
}
nav.blueHead {background: #26abe4;float: left; width:100%;margin-bottom:15px;}
nav.blueHead a{ color: #fff;text-decoration: none;padding: 5px 24px;}
nav.blueHead ul{
	padding: 0;
    margin: 0;
}
nav.blueHead li{
	display: inline-block;
    padding: 12px 5px;
    margin: 0 15px;
}
footer nav.blueHead li {
    padding: 8px 5px;
}
.blueHead a.prev {
    background: url(../icons/arrows2.png) no-repeat 0px center;background-size: 24px 24px;}
.blueHead a.content{
	background: url(../icons/document-content.png) no-repeat 0px center;background-size: 20px 20px;}

.blueHead a.viewPrint{
	background: url(../icons/printerV.png) no-repeat 0px center;background-size: 20px 20px;}

.blueHead a.nextd{
	background: url(../icons/arrows.png) no-repeat right center;background-size: 24px 24px;}

footer a {
    text-decoration: none;
    color: #336699;
    font-size: 10.5pt;
}
footer>div {
    font-size: 80%;
    color: #666;
    margin: 5px;
    text-align: center;
    border-top: 1px solid #eee;
}
footer nav {
    margin: 20px;
}
footer a#prev, footer a#nex {
    color: #000;
    background: url(../icons/left-arrowB.png) no-repeat left center;
    background-size: 20px 20px;
    padding: 1px 25px;
    opacity: 0.7;
    font-size: 10.5pt;
}
footer a#nex {
    background: url(../icons/right-arrowB.png) no-repeat right center;
    background-size: 20px 20px;
    float: right;
    margin: 0;
}

.webflare-div-image {
    margin: 15px 0px;
}

.webflare-pro-prog {
    font-size:2px;
    font-family: "Courier New";
    color:#000;
}

.indent-as-level2 {
    margin-left:30px;
    display:block;
}
.indent-as-level3 {
    margin-left:60px;
    display:block;
}
.webflare-red-fonts {
    color="Crimson";
}

.webflare-ctr-chap-title-red {
    color:#993d5b;
}

.webflare-information-macro {
    background: #fcfcfc;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #333;
    margin: 10px 20% 1em 0;
    min-height: 20px;
    padding: 10px 10px 10px 36px;
    position: relative;
}

.webflare-macro-information {
    border-color: #aab8c6;
    background: url(../icons/info.png) no-repeat 10px 11px #fcfcfc;
    background-size: 16px !important;
}

.webflare-macro-warning {
    border-color: #d04437;
    background: url(../icons/warning.png) no-repeat 10px 11px #fff8f7 ;
    background-size: 16px !important;
    margin: 10px 20% 1em 0;
}

.webflare-macro-note {
    border-color: #ffeaae;
    background: url(../icons/note.png) no-repeat 10px 11px #fffdf6 ;
    background-size: 16px !important;
    margin: 10px 20% 1em 0;
}

.webflare-macro-tip {
    border-color: #91c89c;
    background: url(../icons/tip.png) no-repeat 10px 11px #f3f9f4 ;
    background-size: 16px !important;
    margin: 10px 20% 1em 0;
}

.webflare-macro-rak {
    border-color: #bce8f1;
    background: url(../icons/RAK_icon.png) no-repeat 10px 11px #d9edf7;
    background-size: 24px;
}


.webflare-macro-video {
    border-color: #ddd;
    background: url(../icons/video.gif) no-repeat 7px 11px #f5f5f5;
    background-size: 24px;
}
.webflare-indent1 {
    margin-left:30px;
}
.webflare-indent2 {
    margin-left:60px;
}
.webflare-indent3 {
    margin-left:90px;
}
/*
code, .webflare-courier-new, pre .webflare-courier-new, .preformatted pre { 
      font-family:"Courier New", Courier, "Nimbus Mono L";                                                                     
      line-height: 1.3;                                                                                                        
}
  */
code,.webflare-courier-new {
    font-size: 15px; 
    font-family:"Courier New", Courier, "Nimbus Mono L"; 
   /* font-family: "Courier New"; */
}

table th {
    position: sticky;
    top: 0;
}

.webflareTable {
    border-collapse: collapse;
    font-size: 16px;
    margin: 10px 0 0 0;
}

.webflareTh {
    border: 1px solid #ddd;
    padding: 7px 10px; 
    vertical-align: top;
    text-align: left;
    background-color: #f0f0f0;
}
.webflareTd {
    border: 1px solid #ddd;
    padding: 7px 10px; 
    vertical-align: top;
    text-align: left;
}
.webflare-Table-NoBorder {
    border:none;
    border-collapse:collapse;
}

tbody tr td:first-child {
  min-width: 125px;
}

.webflareTableIndent {
  margin-left:30px;
}

.tbl-head {
  font-weight: bold;
}

.webflare-syx-syntax {
      margin: 1em 3em;
      text-indent:-3em;
}

div.Level1IX{
}

div.Level2IX{
  margin-left : 20px;
}

div.Level3IX{
  margin-left : 40px;
}

ol ol,                                                                                                                     
  ol ol ol ol ol,                                                                                                            
  ol ol ol ol ol ol ol ol,                                                                                                   
  ol ol ol ol ol ol ol ol ol ol ol {                                                                                         
    list-style-type: lower-alpha;                                                                                            
  } 

 ol ol ol,                                                                                                                  
   ol ol ol ol ol ol,                                                                                                         
   ol ol ol ol ol ol ol ol ol,                                                                                                
   ol ol ol ol ol ol ol ol ol ol ol ol {                                                                                      
       list-style-type: lower-roman;                                                                                            
   }

ol,                                                                                                                        
  ol ol ol ol,                                                                                                               
  ol ol ol ol ol ol ol,                                                                                                      
  ol ol ol ol ol ol ol ol ol ol {                                                                                            
      list-style-type: decimal;                                                                                                
  }
/*
ol {
    counter-reset:yourCounter;
}
ol li:not(.skip) {
    counter-increment:yourCounter;
    list-style:none;
}
ol li:not(.skip):before {
    content:counter(yourCounter) ".";
}
ol li.skip:before {
      content:"\a0\a0\a0";
}
*/
li {
     margin-left: -18px;
     margin-top: 10px;
     padding-left: 10px;
}

.webflare-pre-block {
  display:block;
  line-height:1.9;
}

.webflare-margin-left {
  margin-left:5px;
}

.webflare-tl-title-margin {
  margin-top:50px;
}
.webflare-footnote {
  text-align:center;
  position:relative;
  z-index:2;
  width:50%;
}

.webflare-footnote:after {
  content:"";
  position:absolute;
  top:50%;
  left:0;
  right:0;
  border-top:solid 1px black;
  z-index:-1;
}

.webflare-center-line {
  margin:0;
  padding:0 10px;
  background:#fff;
  display:inline-block;
  font-weight:bold;
}

hr {
    border: none;
    height: 3px;
    color: #000000; /* old IE */
    background-color: #000000; /* Modern Browsers */
}

/*CSS to control display of header on smaller screen size*/                                                                  
@media only screen and (max-width:780px) {                                                                                   
  .docHeadr {                                                                                                                
    display: none;                                                                                                           
  }                                                                                                                          
  img {
    max-width: 100%;
  }
  nav.blueHead li:first-child, nav.bluehead li:nth-child(3),ul a.content, ul a.viewPrint {
    position:absolute;
    top: 0px;
    right: 5px;
    width: 0;
    background-color: #26abe4 !important;
    width:20px;
    height:20px;
    padding: 3px;
    background-position: center center !important;
  }
  .blueHead a {
    font-size: 10.5pt;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
  }
  ul a.content, ul a.viewPrint { opacity: 0; }
  nav.blueHead li:first-child {
    background: url(../icons/document-content.png) no-repeat 0px center;
    background-size: 20px 20px;
    right: 40px;
  }
  nav.bluehead li:nth-child(3) {
    background: url(../icons/printerV.png) no-repeat 0px center;
    background-size: 20px 20px;
  }
  nav.blueHead { margin-top: 20px; }
  nav.blueHead li { margin: 0 !important; }
  nav.blueHead li:nth-child(2),nav.blueHead li:nth-child(4) { width: calc(50% - 10px); }
  nav.blueHead a.nextd {
    padding-left: 5px;
    box-sizing: border-box;
  } 
  nav.blueHead li:nth-child(4) { 
    text-align:right;
  }
}  
.ft-figtabl-title-styling {
  font-size: 14.67px;
  font-weight: bold;
  font-style: italic;
  line-height: 3pt;
}
.h2nt-head-2-No-TOC-styling{
  font-weight: bold; 
  font-size: 20px; /*1.25em; for standard 16px default pixel size*/
}
.h3nt-head-3-No-TOC-styling{
  font-weight: bold; 
  font-size: 18.72px; /*1.17em; for standard 16px default pixel size*/
}


div.ft-figtabl-title {
  font-size: 12.00px;
  font-style: italic;
  margin-top: 16px;
}
div.fto-figure-title {
  font-size: 12.00px;
  font-style: italic;
  margin-top: 16px;
}
div.fto-figure-title::before {
  content: "Figure:"
}

div.tto-table-title {
  font-size: 12.00px;
  font-style: italic;
  margin-top: 16px;
}
div.tto-table-title::before {
  content: "Table:";
}
